body{
	font: 3rem sans-serif;
	background-color: rgba(133, 62, 62, 0.2);
	color: white;
}
.grid-item:nth-child(2n){
	background-color: #01ac23;
}
.grid-item:nth-child(2n+1){
	background-color: #527d4f;
}
.grid{
	padding: 1rem;
    display: grid;
}
.grid-item{
	padding: 1.5rem;
	border-radius: 2rem;
    display: inline-block;
}

